@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu{
    display: block;
    width: 340px;
    height: 50px;
    list-style: none;
    border: solid 2px var(--rojo);
    margin: 100px auto;
    text-align: center;
}
.menu__lista{
    position: relative;
    display: inline-block;
    width: 100px;
    margin-top: 14px;
}
.menu__lista:hover .menu__despliegue{
    display: block;
}
.menu__nombre{
    text-decoration: none;
    color: var(--negro);
    font-size: 18px;
}
.menu__despliegue{
    display: none;
    position: absolute;
}
.menu__desplegada{
    position: relative;
    display: inline-block;
    width: 100px;
    margin-top: 15px;
    background-color: var(--rojo);
}
.menu__opciones{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--blanco);
}
.menu--verde{
    background-color: var(--verde);
    border: solid 2px var(--verde);
}
.menu__nombre--verde_oscuro{
    color: var(--verde_oscuro);
}
.menu__desplegada--verde_oscuro{
    background-color: var(--verde_oscuro);
}
.menu--morado{
    background-color: var(--morado);
    border: solid 2px var(--morado);
}
.menu__nombre--blanco{
    color: var(--blanco);
}
.menu__desplegada--morados{
    background-color: var(--morado);
}
.menu__opciones--hover_lila:hover{
    background-color: var(--lila);
}
.menu--gris{
    background-color: var(--gris);
    border: solid 2px var(--gris);
}
.menu__nombre--hover_blanco:hover{
    color: var(--blanco);
}
.menu__desplegada--gris{
    background-color: var(--gris);
    color: var(--negro);
}
.menu__opciones--hover_gris_claro{
    color: var(--blanco);
}
.menu__opciones--hover_gris_claro:hover{
    background-color: var(--gris_claro);
    transition: 1s;
    color: var(--negro);
}
