@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.pagina {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    font-size: 18px;
  }
  .pagina__link{
    margin: 0 20px 0 20px;
    color: var(--azul_rey);
  }