@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pildora {
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 15px;
    display: block;
    margin: 5px;
    background-color: var(--gris);
    color: var(--blanco);
    margin: 20px auto;
    width: 120px;
    text-align: center;
}
