@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu{
    width: 100%;
    height: 100px;
    background-image: url(https://www.shutterstock.com/image-photo/white-dots-on-black-background-260nw-455775496.jpg);
    color: var(--blanco);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: Arial;
}
.logo{
    font-size: 40px;
    margin-left: 15px;
    margin-right: 10px;
}
.item{
    font-size: 20px;
    padding: 38px 20px;
}
.item:hover{
    background-color: var(--gris_claro);
    color: var(--naranja_oscuro);
    opacity: 0.77;
}
.lupa{
    margin-left: 300px;
    background: var(--blanco);
    color: var(--negro);
    padding: 10px 11px;
    border-radius: 50%;
    font-size: 25px;
}
.lupa:hover{
    background-color: var(--gris_claro);
}
.imagen{
    height: 47px;
    width: 230px;
    margin-right: 30px;
}
