:root{
    --negro: #000000;
    --gris: #626262;
    --blanco: hsl(0, 0%, 100%);
    --celeste: #4dc6ee;
    --azul_rey: #0a0db6;
    --verde: #3ac72b;
    --verde_oscuro: #094104;
    --morado: #540c9b;
    --lila: #b35ee9;
    --amarillo: #f6d30d;
    --naranja: #f08b2d;
    --rosa: #f09bdb;
    --rojo: #b00e0e;
    --piel: #ffa57e;
    --verde_pastel: #c7f271;
    --agua_marina: #10bc83;
    --gris_claro: #a8a8a8;
    --naranja_oscuro: #ff7300;
    --celeste_claro: #bcd7fc;
    --azul: #2e52b5;
}